SENTRY_DSN=
VITE_SENTRY_DSN=
DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
ADMIN_EMAIL=
GSM_PORT_PATH=
PG_HOST=
SMS_PANEL_API_KEY=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
TELEGRAM_BOT_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=